@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffffd;
  --black: #090909;
  --darkSand: #ccb24c;
  --darkerSand: #968338;
  --sand: #f7d683;
  --lightSand: #fffdc0;
  --cyan: #457d97;
  --darkCyan: #285970;
  --lightCyan: #88ceee;
}

*{
  scroll-behavior: smooth;
}